<p>Client From The Bahamas API:</p>
<a href="https://github.com/weareswat/challenges/blob/master/1-development/client-from-the-bahamas.md">https://github.com/weareswat/challenges/blob/master/1-development/client-from-the-bahamas.md</a>